exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK

set $mod Mod4

set $nix-path ~/.nix-profile/bin

# Font for window titles. Will also be used by the bar unless a different font
font pango:Inconsolatas Sans Mono 10

# Before i3 v4.8, we used to recommend this one as the default:
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, its unicode glyph coverage is limited, the old
# X core fonts rendering does not support right-to-left and this being a bitmap
# font, it doesn’t scale on retina/hidpi displays.

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# class                 border  backgr. text    indicator child_border
client.focused          #ad530d #ad530d #ffffff #ad530d   #ad530d

client.background       #ffffff

hide_edge_borders --i3 smart
default_border pixel 1
default_floating_border pixel 1

# start a terminal
bindsym $mod+Return exec kitty
# bindsym $mod+backslash exec wezterm connect charybdis --workspace default
# bindsym $mod+backslash workspace 3; exec kitty --title "Charybdis nvim" sh -c "ssh -o ClearAllForwardings=yes -t charybdis 'exec env LANG=C.UTF-8 tmux new-session -A -s nvim'"
bindsym $mod+backslash workspace 3; exec ~/scripts/charybdis_nvim.sh
bindsym $mod+Shift+backslash workspace 2; exec ~/scripts/charybdis_term.sh

# kill focused window
bindsym $mod+Shift+a kill

# start dmenu (a program launcher)
# bindsym $mod+d exec dmenu_run
# set $rofi = monitor="$(swaymsg -t get_outputs | jq '[.[].focused] | index(true)')" rofi -monitor "$monitor"
bindsym $mod+d exec wofi --show drun
bindsym $mod+Shift+d exec rofi -show window

# firefox
bindsym $mod+w workspace 1; exec firefox
bindsym $mod+Ctrl+w exec firefox -p Perso
# chromium
bindsym $mod+Shift+w exec chromium

# bluetooth
bindsym $mod+b exec blueman-manager

bindsym $mod+Tab exec rofimoji

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+z layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+q focus parent

# focus the child container
bindsym $mod+a focus child

# move workspace to other screen
set $move_to_output_prev swaymsg -t get_outputs | jq '.[(map(.focused) | index(true) + 1) % length].name' | xargs swaymsg move workspace to
set $move_to_output_next swaymsg -t get_outputs | jq '.[(map(.focused) | index(true) - 1) % length].name' | xargs swaymsg move workspace to
bindsym $mod+x exec $move_to_output_next
bindsym $mod+Shift+x exec $move_to_output_prev

# scratchpad
bindsym $mod+Shift+p move scratchpad
bindsym $mod+p scratchpad show

# urgent workspace
focus_on_window_activation focus
for_window [urgent="latest"] focus

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload

# Audio controls
set $volumenotification '/usr/share/sounds/freedesktop/stereo/audio-volume-change.oga'
bindsym XF86AudioRaiseVolume exec wpctl set-mute @DEFAULT_AUDIO_SINK@ 0 && wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+ --limit 1.0 && paplay $volumenotification
bindsym XF86AudioLowerVolume exec wpctl set-mute @DEFAULT_AUDIO_SINK@ 0 && wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%- && paplay $volumenotification
bindsym XF86AudioMute exec wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle && paplay $volumenotification
# Media play/pause next/previous
bindsym XF86AudioPause exec playerctl pause
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

# Sreen brightness controls
set $backlight_step 20
bindsym XF86MonBrightnessUp exec brightnessctl set $backlight_step%+
bindsym XF86MonBrightnessDown exec brightnessctl set $backlight_step%- -n 1

# bindsym Print exec flameshot gui
# bindsym Print exec flameshot gui

set $Locker (sh ~/scripts/lock.sh)

set $mode_system System (l) lock, (e) logout, (s) suspend, (h) hibernate, (r) reboot, (Shift+s) shutdown
mode "$mode_system" {
    bindsym l exec --no-startup-id $Locker, mode "default"
    bindsym e exec --no-startup-id i3-msg exit, mode "default"
    bindsym s exec --no-startup-id systemctl suspend, mode "default"
    bindsym h exec --no-startup-id systemctl hibernate, mode "default"
    bindsym r exec --no-startup-id systemctl reboot, mode "default"
    bindsym Shift+s exec --no-startup-id systemctl poweroff -i, mode "default"

    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+Escape mode "$mode_system"

bar {
    swaybar_command waybar
}

# Autostarts
# NetworkManager applet
exec --no-startup-id nm-applet
# Dropbox
exec --no-startup-id dropbox start
# Keepassxc
exec --no-startup-id keepassxc
# 1password
exec --no-startup-id 1password
# Lock on xss event
exec --no-startup-id xss-lock -- sh ~/scripts/lock.sh
# Protonmail bridge
exec --no-startup-id protonmail-bridge --no-window
# Dunst notification manager
exec --no-startup-id /usr/bin/dunst
# Disable middle button click
exec --no-startup-id xbindkeys
# Redshift
exec --no-startup-id redshift-gtk -l 48:2
exec --no-startup-id /usr/bin/wpaperd

# Disable paste selection
exec sh -c 'while :; do wl-copy -pc; sleep 1; done'

# Workspace assignment
assign [class="jetbrains-datagrip"] 6
assign [class="Chromium"] 8
assign [app_id="thunderbird"] 10
assign [app_id="org.telegram.desktop"] 10
assign [class="discord"] 10
assign [class="Steam"] 10
assign [class="Spotify"] 10

for_window [workspace="0"] layout tabbed
for_window [workspace="6"] layout tabbed

#
# Move Mode:
#
set $i3-move-to ~/.config/sway/i3-move-to.sh
mode "move" {
    bindsym Left  exec $i3-move-to left
    bindsym Right exec bash -x $i3-move-to right
    bindsym Down  exec $i3-move-to bottom
    bindsym Up    exec $i3-move-to top
    bindsym h     exec $i3-move-to left
    bindsym l     exec $i3-move-to right
    bindsym j     exec $i3-move-to bottom
    bindsym k     exec $i3-move-to top

    # these reflect the position on the keyboard:
    # w e r
    # s d f
    # x c v
    bindsym w     exec $i3-move-to top-left, mode "default"
    bindsym e     exec $i3-move-to mid-top, mode "default"
    bindsym r     exec $i3-move-to top-right, mode "default"
    bindsym s     exec $i3-move-to mid-left, mode "default"
    bindsym d     exec $i3-move-to centre, mode "default"
    bindsym f     exec $i3-move-to mid-right, mode "default"
    bindsym x     exec $i3-move-to bottom-left, mode "default"
    bindsym c     exec $i3-move-to mid-bottom, mode "default"
    bindsym v     exec $i3-move-to bottom-right, mode "default"

    bindsym 1     move to workspace number 1
    bindsym 2     move to workspace number 2
    bindsym 3     move to workspace number 3
    bindsym 4     move to workspace number 4
    bindsym 5     move to workspace number 5
    bindsym 6     move to workspace number 6
    bindsym 7     move to workspace number 7
    bindsym 8     move to workspace number 8
    bindsym 9     move to workspace number 9
    bindsym 0     move to workspace number 0

    bindsym greater exec i3-next-empty-workspace --take-focused
    bindsym n       exec i3-next-empty-workspace --take-focused
    bindsym less    exec i3-next-empty-workspace --reverse --take-focused
    bindsym p       exec i3-next-empty-workspace --reverse --take-focused

    # Return to default mode
    bindsym q      exec pkill nwg-wrapper; mode "default"
    bindsym Return exec pkill nwg-wrapper; mode "default"
    bindsym Escape exec pkill nwg-wrapper; mode "default"
}

bindsym $mod+m mode "move"

# Make some windows floating by default
for_window {
    [title="Proton Mail Bridge"] floating enable
    [window_role="(pop-up|bubble|dialog)"] floating enable
    [title="KeePassXC"] floating enable
    [title="Bluetooth Devices"] floating enable
    [title="^Picture-in-Picture$" app_id="firefox"] floating enable, border pixel 1, sticky enable, exec $i3-move-to bottom-right,
    [app_id="firefox"] inhibit_idle fullscreen
    [title="Volume Control"] floating enable
}

# Keyboard mouse and screens settings
input type:keyboard {
    repeat_delay 300
    repeat_rate 30
    xkb_layout "us_qwerty-fr"
    xkb_numlock enabled
}

input type:touchpad {
    natural_scroll enabled
    tap enabled
    middle_emulation disabled
}

# Outputs
set $laptop "eDP-1"
set $main_home "Shenzhen KTC Technology Group OLED G27P6 Unknown"
set $secondary_home "Dell Inc. DELL S2421HS 45WFW83"
set $main_office "AOC Q27P2W TAIN3HA011747"
output {
    $laptop mode 1920x1200 position 2560 0

    # Home
    $main_home mode 2560x1440@240HZ position 4480 0
    $secondary_home mode 1920x1080 position 7040 0

    # Office
    $main_office mode 2560x1440 position 0 0
}

set $mode_display Display (s)ingle (f)ocus
mode "$mode_display" {
    bindsym s exec --no-startup-id \
        sway output '$main_home' disable &&\
        sway output '$secondary_home' disable &&\
        sway output '$main_office' disable\
        ;mode "default"
    bindsym f exec ddcutil setvcp 60 0x11 -d 1 && ddcutil setvcp 60 0x0f -d 2 ;mode "default"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+o mode "$mode_display"

workspace 1 output $main_home $main_office
workspace 3 output $main_home $main_office
workspace 5 output $main_home $main_office
workspace 7 output $main_home $main_office

workspace 2 output $secondary_home $laptop
workspace 4 output $secondary_home $laptop
workspace 6 output $secondary_home $laptop

workspace 8 output $laptop
workspace 9 output $laptop
workspace 10 output $laptop
# vim: set filetype=swayconfig
