set $mod Mod4

primary_selection disable

# Font for window titles
font pango:Inconsolatas Sans Mono 10

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# class                 border  backgr. text    indicator child_border
client.focused          #ad530d #ad530d #ffffff #ad530d   #ad530d
client.background       #ffffff

# borders
default_border pixel 1
default_floating_border pixel 1
# Nix configuration is incompatible with the --i3 flag
# which we want to hide tabbed window names until there are more than one window in the workspace
hide_edge_borders --i3 smart

# web browsers
bindsym $mod+w exec firefox -p perso
bindsym $mod+Shift+w exec firefox -p stockly
bindsym $mod+Ctrl+w exec chromium

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

bindsym $mod+f fullscreen toggle
bindsym $mod+t layout tabbed
bindsym $mod+Shift+t layout stacking
bindsym $mod+s splitv
bindsym $mod+Shift+s splith
bindsym $mod+e layout toggle split

# floating
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+q focus parent

# focus the child container
bindsym $mod+a focus child

# move workspace to other screen
bindsym $mod+x exec swaymsg move workspace to right
bindsym $mod+Shift+x exec swaymsg move workspace to left

# scratchpad
bindsym $mod+Shift+p move scratchpad
bindsym $mod+p scratchpad show

# urgent workspace
focus_on_window_activation focus
for_window [urgent="latest"] focus

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload

set $mode_system System (l) lock, (e) logout, (s) suspend, (h) hibernate, (r) reboot, (Shift+s) shutdown
mode "$mode_system" {
    bindsym l exec --no-startup-id $Locker, mode "default"
    bindsym e exec --no-startup-id swaymsg exit, mode "default"
    bindsym s exec --no-startup-id systemctl suspend-then-hibernate, mode "default"
    bindsym h exec --no-startup-id systemctl hibernate, mode "default"
    bindsym r exec --no-startup-id systemctl reboot, mode "default"
    bindsym Shift+s exec --no-startup-id systemctl poweroff -i, mode "default"

    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+Escape mode "$mode_system"

# Workspace assignment
assign [class="jetbrains-datagrip"] 6
assign [app_id="DBeaver"] 6
assign [app_id="thunderbird"] 10
assign [app_id="org.telegram.desktop"] 10
assign [class="discord"] 10
assign [class="steam"] 10
assign [class="Spotify"] 10

for_window [workspace="6"] layout tabbed
for_window [workspace="9"] layout tabbed
for_window [workspace="0"] layout tabbed

# Make some windows floating by default
for_window {
    [app_id="firefox"] inhibit_idle fullscreen
    [class="vlc"] inhibit_idle fullscreen
    [title="Proton Mail Bridge"] floating enable
    [window_role="(pop-up|bubble|dialog)"] floating enable
    [title="KeePassXC"] floating enable
    [title="Bluetooth Devices"] floating enable
    [title="Volume Control"] floating enable
    # Mini floating window before DBeaver is launched
    [app_id="java"] floating enable
}

# Outputs
set $laptop "eDP-1"
set $main_home "Shenzhen KTC Technology Group OLED G27P6 Unknown"
set $secondary_home "Dell Inc. DELL S2421HS 45WFW83"
set $main_office "Iiyama North America PL2740QS 1179804901540"
set $main_office_old "AOC Q27P2W TAIN3HA011747"
output {
    $laptop mode 1920x1200 position 2560 0

    # Home
    $main_home mode 2560x1440@60HZ position 4480 0
    $secondary_home mode 1920x1080 position 7040 0

    # Office
    $main_office mode 2560x1440@75HZ position 4480 0
    $main_office_old mode 2560x1440@75HZ position 0 0
}


# DDC
# Feature:  0x60 (Input Source)
#    Values:
#       0x01: VGA-1
#       0x03: DVI-1
#       0x04: DVI-2
#       0x0f: DisplayPort-1
#       0x10: DisplayPort-2
#       0x11: HDMI-1
#       0x12: HDMI-2
#
# KTC (Display 1)
# Hub is on HDMI-2 (0x12)
# Desktop is on DisplayPort-1 (0x0f)
#
# Dell (Display 2)
# Hub is on DisplayPort-1 (0x0f)
# Desktop is on HDMI-1 (0x11)

set $mode_display Display (s)ingle (h)ub (d)esktop (w)allpaper 
mode "$mode_display" {
    bindsym s exec --no-startup-id \
        sway output '$main_home' disable &&\
        sway output '$secondary_home' disable &&\
        sway output '$main_office' disable\
        sway output '$main_office_old' disable\
        ;mode "default"
    bindsym h exec ddcutil setvcp -d 1 0x60 0x12 && ddcutil -d 2 setvcp 0x60 0x0f; mode "default"
    bindsym d exec ddcutil setvcp -d 1 0x60 0x0f && ddcutil -d 2 setvcp 0x60 0x11; mode "default"
    bindsym w exec pgrep wpaperd | xargs -r kill && wpaperd
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+o mode "$mode_display"

workspace 1 output $main_home $main_office $laptop
workspace 3 output $main_home $main_office
workspace 5 output $main_home $main_office
workspace 7 output $main_home $main_office

workspace 2 output $secondary_home $laptop
workspace 4 output $secondary_home $laptop
workspace 6 output $secondary_home $laptop

workspace 8 output $laptop
workspace 9 output $laptop
workspace 10 output $laptop
# vim: set filetype=swayconfig
